body {
  padding-top: 70px;
}
#footer {
  margin-top: 100px;
  background-color: #ffffff;
}
#footer ul {
  list-style: outside none none;
  padding-left: 0;
}
.page-right {
  padding-top: 76px;
}
.form-horizontal .control-hint {
  margin-bottom: 0;
  padding-top: 7px;
}
.has-error .control-hint {
  color: #a94442;
}
